<%= form_with model: book do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% book.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :year %><br>
    <%= form.text_field :year %>
    <% book.errors.full_messages_for(:year).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :isbn %><br>
    <%= form.text_field :isbn %>
    <% book.errors.full_messages_for(:isbn).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>  

  <div>
    <%= form.select :author_id, options_from_collection_for_select(Author.all, 'id', 'first_name') %>
    <% ## form.select :author_id, options_from_collection_for_select(Author.all, 'id', 'name'), { selected: (book.author_id) } %>

  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
