<h1><%= @book.title %> (<%= @book.year %>)</h1>
<h2><%= link_to @author.name, @author %></h2>
<% if @book.has_quote? %>
    <br/>
    <p>This book opens with the <%= "epigraph".pluralize(@quotes.length) %>:
    <% @quotes.each do |quote| %>
    
        <h2>"<%= link_to simple_format(quote.body, class: 'quote-body', wrapper_tag: "div"), quote %>"</h2>
        <p>— <%= link_to quote.author.name, quote.author %>.

    <% end %>
<% end %>
