<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Opening Quotes — Unearthing mankind's best quotes, one epigraph at a time." %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" %>

    <%= stylesheet_link_tag "application" %>

    <%= javascript_importmap_tags %>

    <!-- Plausible Analytics -->
    <script defer data-domain="openingquot.es" src="https://plausible.io/js/script.outbound-links.js"></script>
    <script>
      window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }
    </script>

  </head>
  <body>
    <header>
      <div id="header-content">
        <div id="header-logo">
          <a href="/">Opening Quotes</a>
        </div>
        <div id="main-navigation">
          <ul>
            <li><a href="/quotes">Quotes</a></li>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div id="body-content">
      <%= yield %>
    </div>
    <footer>
      <div id="footer-content">
        <div id="footer-logo">
          <a href="/">Opening Quotes</a>
        </div>
        <div>
          <p>Unearthing mankind's best quotes, one epigraph at a time. A <a href="https://fredrocha.net" target="_blank">Fred Rocha</a> creative endeavour. The development process is being documented <a href="https://fredrocha.net/2024/08/07/building-a-crud-application-using-ruby-on-rails-in-2024/" target="_blank">here</a>.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
