<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title><%= content_for(:title) || "Opening Quotes — Unearthing mankind's best quotes, one epigraph at a time." %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:description" content="Unearthing mankind's best quotes, one epigraph at a time." />
    <meta property="og:url" content="https://openingquot.es/" />
    <meta property="og:site_name" content="Opening Quotes" />
    <meta property="article:publisher" content="https://fredrocha.net" />
    <meta property="og:image" content="https://openingquot.es/og-image.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta name="twitter:card" content="summary_large_image" /> 

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" %>

    <%= stylesheet_link_tag "application" %>

    <%= javascript_importmap_tags %>

    <!-- Plausible Analytics -->
    <script defer data-domain="openingquot.es" src="https://plausible.io/js/script.outbound-links.js"></script>
    <script>
      window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }
    </script>

  </head>
  <body>
    <header>
      <div id="header-content">
        <div id="header-logo">
          <a href="/">
          <svg viewBox="-1.6 -1.6 19.20 19.20" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
            <g id="SVGRepo_bgCarrier" stroke-width="0">
             <rect x="-1.6" y="-1.6" width="19.20" height="19.20" rx="0" fill="#000000" strokewidth="0"/>
            </g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            <g id="SVGRepo_iconCarrier"> <path d="M7 10.4142L2.70711 14.7071L1.29289 13.2929L5 9.58579V9L1 9V2H7V10.4142Z" fill="#000000"/> <path d="M9 9L13 9V9.58579L9.29289 13.2929L10.7071 14.7071L15 10.4142L15 2H9L9 9Z" fill="#000000"/> </g>
          </svg>
          </a>
        </div>
        <div id="main-navigation">
          <ul>
            <li class="<%= 'active' if current_page?('/quotes') %>"><%= link_to 'Quotes', quotes_path %></li>
            <li class="<%= 'active' if current_page?('/books') %>"><%= link_to 'Books', books_path %></li>
            <li class="<%= 'active' if current_page?('/authors') %>"><%= link_to 'Authors', authors_path %></li>
            <li class="<%= 'active' if current_page?('/about') %>"><%= link_to 'About', about_path %></li>
          </ul>
        </div>
      </div>
    </header>
    <div id="body-content">
      <%= yield %>
    </div>
    <footer data-theme="dark">
      <div id="footer-content">
        <div id="footer-logo">
          <a href="/">
            <svg viewBox="-1.6 -1.6 19.20 19.20" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
              <g id="SVGRepo_bgCarrier" stroke-width="0">
              <rect x="-1.6" y="-1.6" width="19.20" height="19.20" rx="0" fill="#000000" strokewidth="0"/>
              </g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
              <g id="SVGRepo_iconCarrier"> <path d="M7 10.4142L2.70711 14.7071L1.29289 13.2929L5 9.58579V9L1 9V2H7V10.4142Z" fill="#000000"/> <path d="M9 9L13 9V9.58579L9.29289 13.2929L10.7071 14.7071L15 10.4142L15 2H9L9 9Z" fill="#000000"/> </g>
            </svg>
          </a>
        </div>
        <div>
          <p>Unearthing mankind's best quotes, one epigraph at a time. A <a href="https://fredrocha.net" target="_blank">Fred Rocha</a> creative endeavour. The development process is being documented <a href="https://fredrocha.net/2024/08/07/building-a-crud-application-using-ruby-on-rails-in-2024/" target="_blank">here</a>.</p>
          <div id="footer-social-links">
            <p class="social-links">
              <a class="fr-icon" href="https://fredrocha.net" target="_blank">
                <img src="/fr-logo-s.png" alt="Logo for fredrocha.net">
              </a>
              <a class="mastodon-icon" href="https://mastodon.social/@john_fisherman" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 2400 2400"><path d="M288 128C129 128 0 257 0 416v960c0 159 129 288 288 288h960c159 0 288-129 288-288V416c0-159-129-288-288-288H288zm478.38 219.105h3.45c140.347 1.148 275.434 16.34 354.104 52.473 0 0 156.027 69.805 156.027 307.95 0 0 1.957 175.702-21.76 297.69-15.053 77.44-134.816 162.191-272.367 178.616-71.725 8.558-142.346 16.423-217.65 12.969-123.152-5.642-220.329-29.395-220.329-29.395 0 11.989.739 23.404 2.217 34.08 16.01 121.539 120.515 128.819 219.508 132.213 99.915 3.418 188.88-24.633 188.88-24.633l4.106 90.327s-69.885 37.53-194.382 44.431c-68.65 3.774-153.892-1.726-253.174-28.006-215.325-56.993-252.197-286.524-258.022-519.412-1.728-69.147-.665-134.348-.662-188.88.01-238.144 156.033-307.95 156.033-307.95 78.674-36.133 213.675-51.326 354.022-52.473zM607.544 533.18c-50.528 0-91.234 17.76-122.314 52.408-30.14 34.649-45.145 81.48-45.145 140.412v288.354h114.238V734.476c0-59 24.824-88.944 74.477-88.944 54.9 0 82.42 35.524 82.42 105.766V904.49h113.566V751.3c0-70.242 27.516-105.764 82.414-105.764 49.652 0 74.477 29.945 74.477 88.944v279.876h114.238V726.003c0-58.933-14.473-106.234-45.139-140.412-31.086-34.648-71.792-52.408-122.314-52.408-58.466 0-102.735 22.468-132 67.414L768 648.295l-28.455-47.7c-29.271-44.946-73.542-67.415-132.002-67.415z"></path></svg>
              </a>
              <a class="github-icon" href="https://github.com/johnfisherman/openingquot.es" target="_blank">
                <svg fill="none" viewBox="0 0 92 92" width="92" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m45.6097 21.0479c-14.2184 0-25.7347 11.4704-25.7347 25.6323 0 11.3423 7.3666 20.9224 17.5961 24.3187 1.2867.2243 1.7693-.5447 1.7693-1.2176 0-.6087-.0322-2.6273-.0322-4.774-6.4658 1.1855-8.1386-1.57-8.6533-3.0118-.2895-.7369-1.5441-3.0118-2.6378-3.6205-.9007-.4807-2.1875-1.6661-.0322-1.6982 2.0266-.032 3.4742 1.8584 3.9567 2.6273 2.3162 3.8769 6.0155 2.7875 7.4953 2.1147.2251-1.6661.9007-2.7875 1.6406-3.4283-5.726-.6408-11.7093-2.8516-11.7093-12.656 0-2.7875.9972-5.0944 2.6378-6.8887-.2574-.6408-1.1581-3.2681.2573-6.7926 0 0 2.1553-.6728 7.0771 2.6274 2.0587-.5768 4.2462-.8651 6.4336-.8651 2.1875 0 4.3749.2883 6.4337.8651 4.9218-3.3323 7.0771-2.6274 7.0771-2.6274 1.4154 3.5245.5146 6.1518.2573 6.7926 1.6406 1.7943 2.6378 4.0691 2.6378 6.8887 0 9.8364-6.0155 12.0152-11.7414 12.656.9328.801 1.737 2.3389 1.737 4.742 0 3.4283-.0321 6.1838-.0321 7.0488 0 .6729.4825 1.4739 1.7692 1.2176 10.1652-3.3963 17.5318-13.0084 17.5318-24.3187 0-14.1619-11.5163-25.6323-25.7347-25.6323z" fill="#fff" fill-rule="evenodd"/></svg>
              </a>
              </p>
          </div>
        </div>
        <div>
          <p>Consider a small contribution to fuel the expansion of this repository of hand-curated epigraphs.</p>
          <div id="kofi-button-footer" class="kofi-button">
            <a href="https://ko-fi.com/fredrocha" target="_blank">
              <img src="/kofi_button_stroke.webp" />
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
