<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title><%= content_for(:title) || "Opening Quotes — Unearthing mankind's best quotes, one epigraph at a time." %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:description" content="Unearthing mankind's best quotes, one epigraph at a time." />
    <meta property="og:url" content="https://openingquot.es/" />
    <meta property="og:site_name" content="Opening Quotes" />
    <meta property="article:publisher" content="https://fredrocha.net" />
    <meta property="og:image" content="https://openingquot.es/og-image.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta name="twitter:card" content="summary_large_image" /> 

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" %>

    <%= stylesheet_link_tag "application" %>

    <%= javascript_importmap_tags %>

    <!-- Plausible Analytics -->
    <script defer data-domain="openingquot.es" src="https://plausible.io/js/script.outbound-links.js"></script>
    <script>
      window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }
    </script>

  </head>
  <body>
    <header>
      <div id="header-content">
        <div id="header-logo">
          <a href="/">
          <svg viewBox="-1.6 -1.6 19.20 19.20" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
            <g id="SVGRepo_bgCarrier" stroke-width="0">
             <rect x="-1.6" y="-1.6" width="19.20" height="19.20" rx="0" fill="#000000" strokewidth="0"/>
            </g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            <g id="SVGRepo_iconCarrier"> <path d="M7 10.4142L2.70711 14.7071L1.29289 13.2929L5 9.58579V9L1 9V2H7V10.4142Z" fill="#000000"/> <path d="M9 9L13 9V9.58579L9.29289 13.2929L10.7071 14.7071L15 10.4142L15 2H9L9 9Z" fill="#000000"/> </g>
          </svg>
          </a>
        </div>
        <div id="main-navigation">
          <ul>
            <li class="<%= 'active' if current_page?('/authors') %>"><%= link_to 'Authors', authors_path %></li>
            <li class="<%= 'active' if current_page?('/quotes') %>"><%= link_to 'Quotes', quotes_path %></li>
            <li class="<%= 'active' if current_page?('/books') %>"><%= link_to 'Books', books_path %></li>
            <li class="<%= 'active' if current_page?('/about') %>"><%= link_to 'About', about_path %></li>
          </ul>
        </div>
      </div>
    </header>
    <div id="body-content">
      <%= yield %>
    </div>
    <footer data-theme="dark">
      <div id="footer-content">
        <div id="footer-logo">
          <a href="/">
            <svg viewBox="-1.6 -1.6 19.20 19.20" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
              <g id="SVGRepo_bgCarrier" stroke-width="0">
              <rect x="-1.6" y="-1.6" width="19.20" height="19.20" rx="0" fill="#000000" strokewidth="0"/>
              </g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
              <g id="SVGRepo_iconCarrier"> <path d="M7 10.4142L2.70711 14.7071L1.29289 13.2929L5 9.58579V9L1 9V2H7V10.4142Z" fill="#000000"/> <path d="M9 9L13 9V9.58579L9.29289 13.2929L10.7071 14.7071L15 10.4142L15 2H9L9 9Z" fill="#000000"/> </g>
            </svg>
          </a>
        </div>
        <div>
          <p>Unearthing mankind's best quotes, one epigraph at a time. A <a href="https://fredrocha.net" target="_blank">Fred Rocha</a> creative endeavour. The development process is being documented <a href="https://fredrocha.net/2024/08/07/building-a-crud-application-using-ruby-on-rails-in-2024/" target="_blank">here</a>.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
