<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Openingquotes Com" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "pico.min" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div id="header-content">
        <div id="header-logo">
          <a href="/">openingquotes.com</a>
        </div>
        <div id="main-navigation">
          <ul>
            <li><a href="/quotes">Quotes</a></li>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/books">Books</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div id="body-content">
      <%= yield %>
    </div>

  </body>

  <footer>
    <div id="footer-content">
      <div id="footer-logo">
        <a href="/">openingquotes.com</a>
      </div>
      <div>
        <p>Unearthing mankind's best quotes, one epigraph at a time. A <a href="https://fredrocha.net" target="_blank">Fred Rocha</a> creative endeavour.</p>
      </div>
    </div>

  </footer>
</html>
